<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div style="width: 100%;text-align: center;height: 490px;overflow-y: scroll;">

    <div id="dtT1">
        <div class="floatWords">
            <p style="position: absolute;top: 122px;left: 87px;"  data-bind="text:username">xiao</p>
            <p style="position: absolute;top: 122px;left: 175px;" data-bind="text:gender">xiao</p>
            <p style="position: absolute;top: 124px;left: 262px;font-size: 0.5em;" data-bind="text:personId">1231323</p>
            <p style="position: absolute;top: 151px;left: 87px;font-size: 0.5em;" data-bind="text:idNumber">1231323</p>
            <p style="position: absolute;top: 151px;left: 262px;font-size: 0.5em;" data-bind="text:birthDate">1231323</p>
            <p style="position: absolute;top: 177px;left: 87px;font-size: 0.5em;" data-bind="text:insuredUnit">1231323</p>
            <p style="position: absolute;top: 230px;left: 67px;font-size: 0.5em;" data-bind="text:insuredStartDate">2018-1-11</p>
            <p style="position: absolute;top: 258px;left: 67px;font-size: 0.5em;" data-bind="text:insuredStopDate">2018-1-11</p>
            <p style="position: absolute;top: 230px;left: 260px;" data-bind="text:payMonth">4</p>
            <p style="position: absolute;top: 256px;left: 260px;" data-bind="text:payYear">2019</p>
            <!--<p style="position: absolute;top: 397px;left: 255px;font-size: 0.5em;" data-bind="text:gender">2019-05-21</p>-->
            <div class="hashLineCss" data-bind="text:ciphertext">sdasdasa21321b31nb3lj12n3jk12bjkhj1kb3j1j</div>
            <div class="hashLineCss2" data-bind="text:ciphertext" style="top: 348px;">sdasdasa21321b31nb3lj12n3jk12bjkhj1kb3j1j</div>
        </div>
    </div>
</div>