<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div style="width: 100%;text-align: center;    min-height: 923px;overflow-y: scroll;margin-top: 8px;">


    <div id="dtT21">
        <div class="floatWords">
            <p style="top: 80px;left: 53px;font-size: 9px;" data-bind="text:username">xiao</p>
            <p style="position: absolute;top: 78px;left: 115px;font-size: 10px;" data-bind="text:gender">xiao</p>
            <p style="position: absolute;    top: 76px;
    left: 171px;
    font-size: 8px;
    width: 40px;
    word-break: break-all;" data-bind="text:personId">1231323</p>
            <p style="position: absolute;top: 82px;
    left: 281px;
    font-size: 5px;" data-bind="text:idNumber">1231323</p>

            <p style="position: absolute;top: 100px;left: 54px;    width: 20px;
    font-size: 6px;" data-bind="text:curPayStatus">1231323</p>
            <p style="position: absolute;top: 100px;left: 115px;font-size: 7px;" data-bind="text:payMonth">1231323</p>
            <p style="position: absolute;top: 104px;
    left: 174px;
    font-size: 7px;" data-bind="text:nowInsuredUnit">1231323</p>

            <p style="position: absolute;top: 147px;left: 54px;font-size: 10px;" data-bind="text:insuredStartDate">
                1231323</p>
            <p style="position: absolute;top: 147px;left: 115px;    font-size: 5px;
    width: 50px;" data-bind="text:insuredUnit">1231323</p>
            <p style="position: absolute;top: 149px;
    left: 188px;font-size: 7px;" data-bind="text:managementInstitution">1231323</p>
            <p style="position: absolute;top: 149px;
    left: 255px;font-size: 7px;" data-bind="text:insuranceType">1231323</p>

            <!--<p style="position: absolute;top: 173px;left: 140px;">1231323</p>-->
        </div>
    </div>

    <oj-table id="t2Table" aria-label="Departments Table"
              data='[[dataprovider]]'
              columns-default='{"sortable": "disabled"}'
              columns='[[columns]]'
    >
    </oj-table>

    <div id="dtT22">
        <div class="floatWords">
            <p style="position: absolute;    top: 62px;
    left: 243px;font-size: 7px;">2018-09-27</p>
        </div>
    </div>

    <div class="hashLineCss" data-bind="text:ciphertext">sdasdasa21321b31nb3lj12n3jk12bjkhj1kb3j1j</div>
    <div class="hashLineCss2" data-bind="text:ciphertext">sdasdasa21321b31nb3lj12n3jk12bjkhj1kb3j1j</div>
    <div class="hashLineCss3" data-bind="text:ciphertext">sdasdasa21321b31nb3lj12n3jk12bjkhj1kb3j1j</div>
</div>