<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div style="width: 100%;text-align: center;overflow-y: scroll;margin-top: 8px;">



    <div id="dtT3">
        <div class="floatWords">
            <p style="top: 104px;left: 112px;font-size: 8px;font-weight: bold;" data-bind="text:name">xiao</p>
            <p style="position: absolute;top: 130px;left: 112px;font-size: 8px;font-weight: bold;" data-bind="text:address">xiao</p>
            <p style="position: absolute;top: 93px;left: 244px;font-weight: bold;    font-size: 6px;" data-bind="text:registrationNumber">1231323</p>
            <p style="position: absolute;top: 143px;left: 112px;font-size: 8px;font-weight: bold;" data-bind="text:legalPerson">1231323</p>
            <!--<p style="position: absolute;top: 78px;left: 112px;font-size: 0.2em;" data-bind="text:registeredCapital">1231323</p>-->
            <p style="position: absolute;top: 116px;left: 112px;font-size: 8px;font-weight: bold;" data-bind="text:companyType">1231323</p>
            <!--<p style="position: absolute;top: 78px;left: 112px;font-size: 0.2em;" data-bind="text:businessScope">1231323</p>-->
            <p style="position: absolute;top: 155px;left: 112px;font-size: 8px;font-weight: bold;" data-bind="text:operatingPeriodStart">1231323</p>
            <p style="position: absolute;top: 207px;left: 219px;font-size: 8px;font-weight: bold;" data-bind="text:issueDate">1231323</p>
        </div>
    </div>

    <div class="hashLineCss" data-bind="text:ciphertext" >sdasdasa21321b31nb3lj12n3jk12bjkhj1kb3j1j</div>
</div>